.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section.null {
  padding-top: 0;
}

.posit-relat {
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-size: 16px;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0 transparent;
  padding: 6px 22px;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.active, .button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.order-button {
  min-width: 200px;
  min-height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.examples-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.button-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button-close:hover, .button-close:focus {
  fill: #2196f3;
}

.button-plane {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: #ffffff;
  gap: 10px;
}

.logo {
  display: block;
  padding: 24px 0;
}

.logo__web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__studio {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
footer .logo__studio {
  color: #ffffff;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.nav-left {
  display: flex;
  gap: 93px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
}

.site-nav__link,
.nav-contacts__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-contacts {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-contacts__link {
  color: #757575;
  display: flex;
  align-items: center;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts__link:focus, .nav-contacts__link:hover {
  color: #2196f3;
}

.nav-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.site-nav__link--current {
  color: #2196f3;
}
.site-nav__link.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.order {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgr-hero.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-title-input {
  display: block;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  outline: transparent;
}

.modal-comment {
  /* width: 100%; */
  height: 120px;
  /* border: 1px solid rgba(33, 33, 33, 0.2); */
  /* border-radius: 4px; */
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.modal-comment:focus-within,
.modal-input-wrap:focus-within > .modal-input {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-input-wrap:focus-within > .modal-input-icon {
  fill: #2196f3;
}

.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  fill: transparent;
}
.modal-check .test {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-input-check:checked + .test {
  background-color: #2196f3;
  border-color: transparent;
  fill: #ffffff;
}

.modal-input-check:focus + .test {
  border-color: #2196f3;
}

.modal-policy {
  padding-left: 5px;
  color: #2196f3;
}

.feature {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__text {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
}

.feature__title {
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto 10px auto;
}

.feature__icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  margin-left: 0;
}
.feature__icon::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4%;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (min-width: 768px) {
  .feature__icon {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    width: calc((100% - 90px) / 4);
  }
}

.feature__icon--radar::before {
  background-image: url(../images/antenna.svg);
}

.feature__icon--clock::before {
  background-image: url(../images/clock.svg);
}

.feature__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}

.feature__icon--astronavt::before {
  background-image: url(../images/astronaut.svg);
}

.products__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 90px) / 4);
  }
}

.team-member__description {
  padding: 30px 0;
}

.team-member__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-member__profession {
  margin-bottom: 16px;
}

.section--bcgr {
  background-color: #f5f4fa;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.examples h2 {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portffolio-title-about {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.example-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.example-project {
  display: block;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-project:hover, .example-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-project:hover .example-project-about,
.example-project:focus .example-project-about {
  transform: translateY(-100%);
}

.example-project-pict {
  overflow: hidden;
}

.example-project-about {
  position: absolute;
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  height: 294px;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.8);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.portfolio-title {
  margin-bottom: 4px;
}

.main-clients {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.main-clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-clients__link:hover, .main-clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-main-left {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-main-left--left {
  width: 231px;
}

.footer-main-left--right {
  width: 206px;
}

.footer-main {
  display: flex;
  gap: 93px;
  align-items: baseline;
}

.footer-soc-main {
  display: flex;
  gap: 10px;
}

.footer-soc-title {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-soc-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-item:hover, .footer-soc-item:focus {
  background-color: #2196f3;
}

.contacts {
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
}

.contacts-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts.footer-transparent {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}

.footer-main-right {
  display: flex;
  position: relative;
}

.footer-form-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  /* margin-right: 12px; */
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}/*# sourceMappingURL=main.css.map */