.feature {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.feature__text {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
}
.feature__title {
  color: $title-color;
  text-transform: uppercase;
  @include text-style(700, 14px, 1.14);
  margin: 0 auto 10px auto;
}
.feature__icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  margin-left: 0;

  &::before {
    content: "";
    width: 100%;
    height: 120px;
    background-color: $bckgr-milk;
    border-radius: 4%;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.feature__icon--radar::before {
  background-image: url(../images/antenna.svg);
}
.feature__icon--clock::before {
  background-image: url(../images/clock.svg);
}
.feature__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}
.feature__icon--astronavt::before {
  background-image: url(../images/astronaut.svg);
}
