.logo {
  display: block;
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }
}

.logo__web {
  color: $main-color-decor;
  font-family: Raleway, sans-serif;
  @include text-style(700, 24px, 1.16);

  @media screen and (min-width: 1200px) {
    @include text-style(700, 26px, 1.19);
  }
}

.logo__studio {
  color: black;
  font-family: Raleway, sans-serif;
  @include text-style(700, 24px, 1.16);

  @media screen and (min-width: 1200px) {
    @include text-style(700, 26px, 1.19);
  }

  footer & {
    color: $basic-white;
  }
}
