body {
  background-color: $basic-white;
  color: $text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  color: $title-color;
  @include text-style(700, 36px, 1.17);
  text-align: center;
  margin-bottom: 50px;
}
.section.null {
  padding-top: 0;
}
.posit-relat {
  position: relative;
}
.no-scroll {
  overflow: hidden;
}
