.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}
img {
    display: block;
    // width: 100%;
    max-width: 100%;
    height: auto;
}