$main-color-decor: #2196f3;
$title-color: #212121;
$text-color: #757575;
$basic-white: #ffffff;
$bckrg-grey: #2f303a;
$bckgr-milk: #f5f4fa;
$icon-svg-color: #afb1b8;
$trans-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);

