.footer {
  background-color: $bckrg-grey;
  padding: 60px 0;
}
.footer-main-left {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 165px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}
.footer-main-left--left {
  min-width: 231px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}
.footer-main-left--right {
  // width: 206px;
  min-width: 206px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}
.footer-main {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 93px;
    align-items: baseline;
  }
}
.footer-soc-main {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
.form-subscribe {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    flex-wrap: wrap;
  }
}

.footer-soc-title {
  display: inline-block;
  text-transform: uppercase;
  color: $basic-white;
  @include text-style(700, 14px, 1.14);
  margin-bottom: 20px;
}
.footer-soc-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $basic-white;
  transition: background-color $trans-general;

  &:hover,
  &:focus {
    background-color: $main-color-decor;
  }
}
.contacts {
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
}
.contacts-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  color: $basic-white;
  font-size: 14px;
  line-height: 1.71;
  transition: color $trans-general;
}
.footer-contacts.footer-transparent {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: $main-color-decor;
}
.footer-main-right {
  @media screen and (min-width: 1200px) {
  display: flex;
  position: relative;
  justify-content: center;}
}
.footer-form-email {
  width: 100%;
  min-width: 150px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: $bckrg-grey;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  @media screen and (min-width: 480) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}
