.header-line {
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
  gap: 50px;
}
.nav-left {
  display: flex;
  gap: 93px;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}

.site-nav__link,
.nav-contacts__link {
  display: block;
  padding: 32px 0;
  color: $title-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-contacts {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.nav-contacts__link {
  color: $text-color;
  display: flex;
  align-items: center;
  fill: $text-color;
  transition: color $trans-general;

  &:focus,
  &:hover {
    color: $main-color-decor;
  }
}
.nav-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav__link {
  position: relative;
  transition: color $trans-general;
  &:hover,
  &:focus {
    color: $main-color-decor;
  }
}
.site-nav__link.site-nav__link--current {
  color: $main-color-decor;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $main-color-decor;
    border-radius: 2px;
  }
}
